.project
.settings
.springBeans
.checkstyle
.classpath
.checkstyle
target
*~
*.log*
*.patch
.struts-config*
*.orig
.idea
*.iml
atlassian-ide-plugin.xml
*.geany
bin
*.pyc
node_modules
node_install
overlays
tmp
build
dist
.yarn_cache
.DS_Store
